<% content_for :title, "New Agent" %>

<div class="container px-2">
  <div class="box">
    <%= form_with url: agents_path, scope: :agent do |form| %>
      <div class="mb-2">
        <p><i>Enter the inital details for the new agent below...</i></p>
      </div>
      <%= form.invisible_captcha :loginid %>
      <div>
        <%= form.label :full_name %>
        <%= form.text_field :full_name, required: true, class: "input" %>
      </div>
      <div>
        <%= form.label :email %>
        <%= form.email_field :email, required: true, class: "input" %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password, required: true, class: "input" %>
      </div>
      <div>
        <%= form.label :codename %>
        <%= form.text_field :codename, class: "input", required: true %>
      </div>

      <div id="sub" class="pt-3">
        <%= form.submit "Create Agent", class: "button is-success"%>
      </div>
    <% end %>
  </div>
</div>

<style>
  .container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
</style>
